.xbold {
    font-weight: bold;
}

.xcursive{
    font-style: italic;
}

.xunderline{
    text-decoration: underline;
}

.xdatetime-popover {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.xdatetime-popover{
    background-color: white;
}

.xdatetime-day:hover {
    background-color: cyan;
}

