.xbold {
    font-weight: bold;
}

.xcursive{
    font-style: italic;
}

.xdatetime-popover {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.xdatetime-popover{
    background-color: white;
}

