.xbold {
    font-weight: bold;
}

.xcursive{
    font-style: italic;
}

.xunderline{
    text-decoration: underline;
}

.xdatetime-popover {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.xdatetime-popover{
    background-color: white;
}

.xdatetime-day:hover {
    background-color: grey;
}

.minus-minute:hover, .plus-minute:hover, .minus-hour:hover, .plus-hour:hover,
.minus-month:hover, .plus-month:hover, .minus-year:hover, .plus-year:hover
{
    color: red;
}

.set-time:hover, .set-year:hover {
    color: blue;
}

.red {color: red;}